body {
font-family: Arial, sans-serif;
background-color: rgb(212, 190, 190);
text-align: center;
margin: 20px;
}
h1 {
color: #2c3e50;
}
p {
font-size: 18px;
color: #34495e;
}
img {
margin: 15px 0;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}
a {
color: #e74c3c;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
button {
padding: 10px 20px;
background-color: #3498db;
color: rgb(159, 29, 29);
border: none;
border-radius: 8px;
cursor: pointer;
margin-top: 20px;
font-size: 16px;
}
button:hover {
background-color: #6aabd6;
}